$primary: #b670f4;
$radius: 50%;

  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 391px;
    overflow: hidden;
    margin: 0 auto;
  }


